# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/
.env

# Data and Models
data/raw/*.csv
data/processed/*.csv
data/nvdcve*
data/*.json
models/*.pkl
*.npy
*.db

# OS
.DS_Store
Thumbs.db
